/* Imports */
/* Icons */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");
@import url("https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css");
@import url("https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp");
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "rock-billy";
  src: url("../fonts/rock-billy.ttf");
}
@font-face {
  font-family: "ever-love";
  src: url("../fonts/Everylove.ttf");
}
.padding-top {
  padding: 120px 0;
}
/* General Styling */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none !important;
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
}
::selection {
  color: #000;
  background: #fff;
}
html,
body {
  background: #121212;
}
ul {
  margin-bottom: 0;
}
a {
  display: inline-block;
  color: #fff;
  transition: all 300ms ease-in-out;
}
a:hover,
a.active {
  color: #fff;
}
i[class^="bx"] {
  vertical-align: middle;
}
.imgFluid {
  max-width: 100%;
}
.themeBtn {
  width: fit-content;
  display: block;
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
  background: #fff;
  /*display: none;*/
  border-radius: 2rem;
  padding: 0.75rem 1.75rem;
  margin: 1.5rem 0;
  transition: all 300ms ease-in-out;
}
.themeBtn--center {
  margin: 0.25rem auto;
}
.themeBtn:hover {
  color: #000;
  transform: translateY(-5px);
}
.sectionContent {
  margin-bottom: 2rem;
}
.sectionContent .heading {
  font-family: "rock-billy";
  line-height: 2;
  margin-top: 2.5rem;
}
.sectionContent .heading--sm {
  font-size: 1.2rem;
}
.sectionContent p {
  font-size: 0.9rem;
  line-height: 1.9;
}
.sectionContent--sm p {
  color: #5e5e5e;
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 3rem;
}
.mar-y {
  margin: 4rem 0;
}

/* Header */
.headerWrapper {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2.75rem 0;
  z-index: 10;
}
.header__search {
  width: 100%;
  background: #fff;
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 10px -5px #00000020;
  position: fixed;
  top: 0;
  left: 0;
  padding: 4rem 2rem;
  z-index: 11;
  transform: translateY(-100%);
  transition: all 300ms ease-in-out;
}
.header__search.active {
  transform: translateY(0);
}
.header__search input {
display: block;
width: 100%;
color: #000;
background: #ffffff20;
border: none;
border-bottom: 1px solid #000;
padding: 1rem;
}
.header__search input::placeholder {
  color: #000;
}
.header__search button {
  position: absolute;
  color: #000;
  cursor: pointer;
  border: none;
  background: transparent;
}
.header__search button:hover {
  color: #c59b08;
}
.header__search button[type="submit"] {
  top: 50%;
  right: 3rem;
  transform: translateY(-50%);
}
.header__search button[type="button"]{
  top: 1rem;
  right: 1rem;
}
.header__search button i {
  color: inherit;
}
.header,
.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header a {
  padding: 0.25rem;
  margin: 0 0.75rem;
}
.header__logo {
  width: 100%;
  max-width: 200px;
  font-size: 2rem;
  font-weight: 500;
}
.header__logo > img {
  width: 100%;
}
.header__nav li a {
  position: relative;
  padding: 0 0.5rem;
}
.header__nav li a::after {
  content: "";
  width: 100%;
  height: 0;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 300ms ease-in-out;
  z-index: -1;
}
.header__nav li a:hover::after {
  height: 100%;
  top: auto;
  bottom: 0;
}
.header__nav li a:hover {
  color: #000;
}

.dropdown_menu {
    position: absolute;
    display: flex !important;
    flex-direction: column;
    width: auto;
    background: #fff;
    justify-content: left !important;
    align-items: flex-start !important;
    top: 30px;
    left: 20px;
    visibility: hidden;
    opacity: 0;
}

.header_dropdown {
    position: relative;
}

.dropdown_menu li a {
    color: #000;
    text-align: left;
}

.dropdown_menu li {
    padding: 10px 0px;
    transition: all .6s ease;
    width: 160px;
}

.dropdown_menu li:hover {
    background: #000;
}

.dropdown_menu li:hover a {
    color: #fff;
}

.header_dropdown:hover .dropdown_menu {
    visibility: visible;
    opacity: 1;
}


/* Banner */
.banner {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.banner__img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.banner__content .sectionContent .heading {
  margin-top: 3rem;
}

/* About */
.about__content .experience {
  display: flex;
  align-items: center;
}
.about__content .experience span {
  font-family: "rock-billy";
  font-size: 20px;
  line-height: 2;
}
.about__content .experience small {
  max-width: 50px;
  margin-left: 0.75rem;
  margin-top: -10px;
}
.sign {
  text-align: right;
  transform: rotate(-12deg) translateX(-100px);
}

.sign > span {
  font-size: 1.25rem;
  font-weight: 400;
  font-family: "ever-love";
}
.comments__single {
  width: 100%;
  height: 100%;
  background: url("../images/comments-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  padding: 2rem 0 0;
  transition: all 300ms ease-in-out;
}
.comments__single p {
  font-size: 0.9rem;
  padding: 1rem 7rem;
}
.comments__single .sign {
  margin-top: 2rem;
  transform: rotate(-12deg) translateX(0);
}
/* Featured */
.featured__card {
  width: 100%;
  margin: 2rem 0;
}
.featured__cardImg {
  width: 100%;
  height: 300px;
  border-radius: 0.75rem;
  overflow: hidden;
}
.featured__cardImg > img,
.blogs__cardImg a img,
.photography__cardImg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 300ms ease-in-out;
}
.featured__cardContent {
  text-align: center;
  margin-top: 1rem;
}
.featured__cardContent .price {
  font-weight: bold;
  font-size: 1.25rem;
}
.featured__card:hover,
.blogs__card:hover {
  transform: translateY(-5px);
}
.featured__card:hover .featured__cardImg img,
.blogs__card:hover .blogs__cardImg img,
.photography__card:hover .photography__cardImg > img {
  transform: scale(1.1);
}

/* Gallery */
.galleryWrapper {
  margin: 4rem 0;
}
.gallery {
  width: 100%;
  min-height: 550px;
  height: 100%;
  position: relative;
  border: 1px solid #fff;
  margin: 11rem 0;
}
.gallery__img {
  width: 400px;
  height: 475px;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  filter: brightness(0.75) blur(1px);
  transition: all 300ms ease-in-out;
}
.gallery .gallery__img:nth-child(5) {
  top: -25%;
  left: 30%;
}
.gallery .gallery__img:nth-child(4) {
  top: 25%;
  left: 15%;
}
.gallery .gallery__img:nth-child(3) {
  top: -10%;
  left: 50%;
}
.gallery .gallery__img:nth-child(2) {
  top: -10%;
  left: -5%;
}
.gallery .gallery__img:nth-child(1) {
  top: 10%;
  left: auto;
  right: -5%;
}
.gallery__img:hover {
  filter: brightness(1) blur(0px);
  z-index: 1;
}
.gallery--sm .gallery__img:nth-child(1) {
  width: 400px;
  height: 400px;
  top: 7%;
  right: -10%;
}
.gallery--sm .gallery__img:nth-child(2) {
  width: 400px;
  height: 400px;
  top: 7%;
  left: -10%;
}
.gallery--sm .gallery__img:nth-child(3) {
  width: 80%;
  height: 8 0%;
  top: -15%;
  left: 10%;
}
.gallery--sm .gallery__img:nth-child(3) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery--sm .gallery__img:nth-child(4) {
  width: 550px;
  height: 400px;
  top: 40%;
  left: 25%;
}
.gallery--sm .gallery__img:nth-child(4) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Testimonials */
.testimonials {
  padding: 2rem 0 6rem;
}
.testimonial {
  width: 100%;
  height: 100%;
  min-height: 400px;
  position: relative;
  display: flex !important;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #fff;
  padding: 4rem;
}
.testimonial__content > img {
  max-width: 75px;
}
.testimonial__content > p {
  font-size: 14px;
  line-height: 2;
  margin: 1rem 0;
}
.testimonial__img {
  width: 100%;
  max-width: 375px;
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
}

/* Footer */
.footer {
  background: #232323;
  padding-top: 4rem;
}
.footer__about .footer__logo {
  max-width: 200px;
  font-size: 2rem;
  font-weight: bold;
}
.footer__about p {
  font-size: 14px;
  line-height: 2;
  margin: 0.5rem 0;
}
.footer h6 {
  font-weight: bold;
  margin-bottom: 1rem;
}
.footer__links :is(a, address) {
  font-size: 14px;
  padding: 0.25rem;
  margin-bottom: 0.5rem;
}
.footer__newsletter form {
  position: relative;
}
.footer__newsletter form > :is(i, button) {
  position: absolute;
  bottom: 0.5rem;
  left: 0;
}
.footer__newsletter form input {
  width: 100%;
  display: block;
  font-size: 14px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  padding: 0.75rem 2rem;
}
.footer__newsletter form button {
  background: transparent;
  border: none;
  left: auto;
  right: 0;
}
.footer__social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1rem;
}
.footer__social a {
  margin-right: 1rem;
}
.footer__copyright {
  text-align: center;
  border-top: 1px solid #fff;
  padding: 1rem 0;
  margin-top: 4rem;
}

/* Slick Styling */
.testimonialSlider .slick-list {
  padding-top: 6rem;
}
.bannerSlider .slick-slide {
  margin-right: 0;
}
.bannerSlider .slick-dots {
  text-align: right;
  top: 45%;
  right: 2rem;
  bottom: auto;
  left: auto;
}
.bannerSlider .slick-dots li {
  display: block;
  margin: 0.5rem 0 0.5rem auto;
}
.testimonialSlider .slick-dots {
  text-align: left;
  bottom: 2rem;
  left: 4.5rem;
}
.slick-dots li button:before {
  color: #fff;
  font-size: 26px;
}
.slick-dots li button {
  padding: 0;
  width: 10px;
  height: 10px;
}
.slick-dots li button:before {
  line-height: 14px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}
.slick-dots li.slick-active button:before {
  color: #fff;
  border: 1px solid #fff;
}

/* Pagetitle */
.pagetitle {
  position: relative;
}
.pagetitle__img {
  width: 100%;
  height: 100%;
}
.pagetitle__img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pagetitle__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pagetitle__content > h2 {
  color: #fff;
  font-size: 2.75rem;
  font-weight: 600;
  text-transform: capitalize;
}

/* Text Document */
.textDocument__content > h1 {
  font-size: 2.75rem;
  font-weight: 600;
  margin: 4rem 0 2rem;
}
.textDocument__content > p,
.textDocument__content ul li {
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.9;
}
.textDocument__content ul li {
  list-style-type: disc;
  padding: 1rem 0.75rem;
  margin-left: 1rem;
}

/* Blogs */
.blogs__card {
  position: relative;
  margin: 1rem 0;
  transition: all 300ms ease-in-out;
}
.blogs__cardImg > a,
.photography__cardImg {
  width: 100%;
  height: 350px;
  overflow: hidden;
}
.blogs__cardImgDate {
  color: #fff;
  background-color: rgb(0 0 0 / 75%);
  position: absolute;
  left: 0;
  top: 2%;
  padding: 0.25rem 1rem;
}
.blogs__cardImgDate > span {
  font-size: 1rem;
  font-weight: 500;
}
.blogs__cardcontent {
  text-align: center;
  padding: 1.75rem 0;
}
.blogs__cardcontent > a:nth-child(1) {
  font-size: 2.25rem;
  font-weight: 600;
  margin: 0 0 1rem;
}
.blogs__cardcontent > p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8;
}
.blogs__cardcontent .themeBtn {
  margin: 3rem auto 0;
}

/* Photography */
.nav-tabs {
  border: none;
}
.nav-tabs .nav-link.active {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
}
.photography__Tabs {
  margin: 0 0 4rem;
}
.photography__TabsList {
  display: flex;
  align-items: center;
  justify-content: center;
}
.photography__TabsList li {
  margin: 0 0.5rem;
}
.photography__TabsList li a {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
}
.photography__TabsList li a {
  padding: 0.5rem 1.5rem;
}
.photography__card {
  margin: 1rem 0;
}

.category-btn {
    /*display: none;*/
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.gallerycategory img {
    width: 100%;
    /* border-radius: 20px; */
}

.gallerycategory h4 {
    font-family: "rock-billy";
    text-align: center;
    margin: 0px 0px 30px 0px;
}

.gallerycategory {
    margin: 20px 0px 50px 0px;
    position: relative;
}


/* Contact Us */
.contactUs {
  margin: 8rem 0;
}
.contactUs__form {
  border: 2px solid #858585;
  padding: 0.5rem 5rem 3rem 2.5rem;
}
.contactUs__form > label {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 2rem 0 1rem;
}
.contactUs__form > input {
  width: 100%;
  background-color: #191919;
  border: 1px solid #858585;
  border-radius: 0.15rem;
  padding: 0.2rem 1rem;
}
.contactUs__form > input:focus {
    background-color: #fff;
    outline: none;
    color: black;
}
.contactUs__form .themeBtn {
  margin: 4rem auto 0;
}
.contactUs__content {
  padding: 1rem 4rem 5rem;
}
.contactUs__content h5 {
  font-size: 1.35rem;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0.5rem 0 1rem;
}
.socialLinks,
.contactLinks {
  border-bottom: 1px solid #858585;
  padding: 1rem 0;
}
.socialLinks a {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.5rem;
}

.socialLinks a i {
  color: #000;
  font-size: 1rem;
  transition: all 700ms ease-in-out;
}
.socialLinks a:hover i {
  transform: translateY(-2px) rotateY(360deg);
}
.socialLinks a:hover {
  transform: translateY(-8px);
}

.contactMap > iframe {
  width: 100%;
  height: 350px;
  border: none;
  filter: grayscale(1);
}

/* Single Product */
.singleProduct {
  padding: 2rem 0px 4rem;
}
.singleProduct__img {
  margin-bottom: 1rem;
}
.singleProduct__pictures li {
  width: 90px;
  height: 90px;
  border: 1px solid #858585;
  padding: 0.5rem;
}
.singleProduct__pictures li.slick-current {
  border: 2px solid #fff;
}
.singleProduct__pictures li > img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}
.singleProduct__contentSubtitle {
  font-size: 1.25rem;
  margin-bottom: 0;
}
.singleProduct__contentTitle {
  color: #fff;
  font-size: 2.25rem;
  line-height: 1.2;
}
.singleProduct__contentDescription {
  font-size: 14px;
  font-weight: 300;
}
.singleProduct__review {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 14px;
  margin: 1rem 0px;
}
.singleProduct__review span {
  flex: 1;
  margin-left: 1rem;
}
.singleProduct__review a {
  display: inline-block;
  color: #858585;
  font-weight: bold;
  padding: 0px 0.25rem;
}
.singleProduct__review a:hover {
  color: #fff;
  text-decoration: underline !important;
}
.singleProduct__info > li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  margin-bottom: 0.5rem;
}
.singleProduct__info > li > p {
  margin-bottom: 0;
}
.singleProduct__info > li > p:first-child {
  flex: 0.35;
}
.singleProduct__info > li > p:last-child {
  flex: 0.65;
  font-weight: bold;
}
.singleProduct__price ins {
  color: #fff;
  font-size: 34px;
  font-weight: bold;
  vertical-align: middle;
}
.singleProduct__price del {
  color: #858585;
  font-weight: bold;
  text-decoration: line-through !important;
  vertical-align: middle;
  margin-left: 0.5rem;
}
.singleProduct__quantity {
  font-weight: 600;
  margin: 1rem 0px 1.25rem;
}
.singleProduct__quantity > p {
  margin-bottom: 0;
}
.singleProduct__quantity > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.singleProduct__quantityCounter {
  flex: 0.3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  border: 1px solid #858585;
  border-radius: 20px;
  overflow: hidden;
}
.singleProduct__quantityCounter > button {
  display: inline-block;
  cursor: pointer;
  background: transparent;
  border: 1px solid #ffffff20;
  border-radius: 20px;
  outline: none;
  padding: 0.5rem 0.75rem;
}
.singleProduct__quantityCounter > button:active {
  box-shadow: 0px 0px 10px 1px #ffffff20;
}
.singleProduct__quantity > div > .themeBtn {
  flex: 0.6;
  text-align: center;
  border-radius: 2rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
}
.singleProduct__quantity > div > .themeBtn i {
  color: inherit;
}
.singleProduct__quantity > .themeBtn {
  width: 100%;
  color: var(--color-primary);
  text-align: center;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 2rem;
  padding: 0.5rem;
  margin: 0.5rem 0px 1.5rem;
}
.singleProduct__quantity > ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
  font-size: 14px;
  margin: 0.5rem 0px;
}
.singleProduct__quantity > ul a {
  color: #858585;
  display: inline-block;
  margin: 0px 0.5rem;
}
.singleProduct__quantity > ul a:hover {
  color: #fff;
}
.singleProduct__social {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.singleProduct__social a {
  display: inline-block;
  color: #858585;
  font-size: 20px;
  padding: 0.25rem;
  margin-left: 1rem;
}
.singleProduct__social a i {
  color: inherit;
}
.singleProduct__social a:hover {
  color: #fff;
}
.singleProduct__reviews {
  margin-top: 3rem;
}
.singleProduct__reviews > h2 {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}
.singleProduct__reviews > ul {
  max-height: 320px;
  overflow-y: auto;
}
.singleProduct__reviews > ul::-webkit-scrollbar {
  width: 5px;
  background: #5e5e5e;
  border-radius: 20px;
}
.singleProduct__reviews > ul::-webkit-scrollbar-thumb {
  background: #858585;
  border-radius: 20px;
}
.singleProduct__reviews > ul > li {
  border-bottom: 1px solid #ffffff20;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.singleProduct__reviews > ul > li h4 {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0.25rem;
}
.singleProduct__reviews > ul > li span {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  background: #ffffff20;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}
.singleProduct__reviews > ul > li p {
  font-size: 14px;
  line-height: 1.8;
  margin-bottom: 0;
  margin-top: 0.5rem;
}
.singleProduct__reviews > form {
  margin-top: 2rem;
}
.singleProduct__reviews > form h3 {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.singleProduct__reviews > form input,
.singleProduct__reviews > form textarea {
  width: 100%;
  display: block;
  color: #fff;
  font-size: 14px;
  background: transparent;
  border: 1px solid #858585;
  border-radius: 0.25rem;
  outline: none;
  resize: none;
  padding: 0.5rem;
  margin: 0.5rem 0px;
}
.singleProduct__reviews > form input:focus,
.singleProduct__reviews > form textarea:focus {
  border-color: #fff;
}
.singleProduct__reviews > form > button {
  width: 100%;
  display: block;
  color: #000;
  cursor: pointer;
  background: #fff;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  margin-top: 1rem;
  transition: transform 300ms ease-in-out;
}
.singleProduct__reviews > form > button:hover {
  transform: translateY(-5px);
}

/* Cart */
.cart {
  padding-top: 3rem;
  padding-bottom: 6rem;
}
.cart__product {
  display: flex;
  align-items: stretch;
  border-bottom: 1px solid #858585;
  padding: 1.5rem 0px;
}
.cart__product:hover .cart__productImg {
  box-shadow: 0px 0px 5px 1px #ffffff20;
}
.cart__productImg {
  width: 175px;
  height: 175px;
  border: 1px solid #858585;
  padding: 1rem;
  transition: all 300ms ease-in-out;
}
.cart__productImg img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}
.cart__productContent {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex: 1;
  margin-left: 1rem;
}
.cart__productContent > div {
  display: flex;
  justify-content: space-between;
}
.cart__productDescription > h4 {
  font-size: 1.25rem;
}
.cart__productDescription > p {
  font-size: 14px;
}
.cart__productQuantity {
  margin-left: 0.5rem;
}
.cart__productQuantity :is(button, span) {
  width: 40px;
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background: transparent;
  border: 1px solid #ffffff20;
  outline: none;
  padding: 0.5rem 0.75rem;
}
.cart__productQuantity button:active {
  box-shadow: 0px 0px 5px 1px #ffffff20;
}
.cart__productOptions > button {
  cursor: pointer;
  font-size: 14px;
  transition: all 300ms ease-in-out;
}
.cart__productOptions > button:hover {
  box-shadow: 0px 0px 5px 1px #ffffff20;
  transform: translateY(-2px);
}
.cart__productOptions > button:first-child {
  color: #000;
  background: #fff;
  border: 1px solid transparent;
  padding: 0.5rem;
}
.cart__productOptions > button:first-child i {
  color: #000;
}
.cart__productOptions > button:last-child {
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  padding: 0.5rem;
}
.cart__productPrice {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
}
.cart__summary {
  border: 1px solid #ffffff20;
  box-shadow: 0px 0px 10px 1px #ffffff20;
  padding: 1.5rem;
  margin-top: 1.5rem;
}
.cart__summary > h4 {
  margin-bottom: 1rem;
}
.cart__summary > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0px;
}
.cart__summary > div:not(.cart__summaryTotal) > span {
  font-size: 16px;
}
.cart__summary > input {
  width: 100%;
  font-size: 16px;
  background: transparent;
  border: 1px solid #ffffff20;
  outline: none;
  padding: 0.75rem;
}
.cart__summary > input:focus {
  border-color: #fff;
}
.cart__summaryTotal {
  font-size: 18px;
  font-weight: 700;
  border-top: 1px solid #ffffff20;
  padding: 1rem 0px;
}
.cart__summary > a {
  display: block;
  color: #000;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  background: #fff;
  border: none;
  padding: 0.75rem;
  margin: 1rem 0px;
  transition: all 300ms ease-in-out;
}
.cart__summary > a:hover {
  box-shadow: 0px 0px 10px 1px var(--color-primary);
  transform: translateY(-5px);
}

/* Checkout */
.checkout {
  padding-top: 3rem;
  padding-bottom: 6rem;
}
.checkout__billingForm > h4 {
  color: #fff;
  font-size: 32px;
}
.checkout__billingForm > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.checkout__billingForm label {
  flex: 0.3;
  font-size: 16px;
}
.checkout__billingForm :is(input, select) {
  width: 100%;
  flex: 0.7;
  color: #fff;
  font-size: 16px;
  background: transparent;
  border: 1px solid #858585;
  outline: none;
  padding: 0.75rem;
}
.checkout__billingForm :is(input, select):focus {
  border-color: #fff;
  box-shadow: 0px 0px 10px 1px #ffffff20;
}
.checkout__orderOverview {
  border: 1px solid #ffffff20;
  box-shadow: 0px 0px 10px 1px #ffffff20;
  padding: 1.5rem;
  margin-top: 1.5rem;
}
.checkout__orderOverview > h4 {
  margin-bottom: 1rem;
}
.checkout__orderOverview > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0px;
}
.checkout__orderOverview > div:not(.checkout__orderOverviewTotal) > span {
  font-size: 16px;
}
.checkout__orderOverviewTotal {
  font-size: 20px;
  font-weight: 700;
  border-top: 1px solid #ffffff20;
  padding: 1rem 0px 0px;
}
.checkout__paymentMethod {
  border: 1px solid #ffffff20;
  box-shadow: 0px 0px 10px 1px #ffffff20;
  padding: 1.5rem;
  margin-top: 1.5rem;
}
.checkout__paymentMethod > h4 {
  margin-bottom: 1rem;
}
.checkout__paymentMethodRadios > li {
  position: relative;
}
.checkout__paymentMethodRadios > li:hover {
  background: #ffffff20;
}
.checkout__paymentMethodRadios > li > input[type="radio"] {
  opacity: 0;
}
.checkout__paymentMethodRadios > li > label {
  position: relative;
  display: block;
  top: -12px;
  left: 25px;
  width: 100%;
  padding-left: 1rem;
}
.checkout__paymentMethodRadios > li > label > img {
  width: 50px;
}
.checkout__paymentMethodRadios > li > label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -10px;
  width: 20px;
  height: 20px;
  background: transparent;
  border: 1px solid #ffffff20;
  border-radius: 50%;
}
.checkout__paymentMethodRadios > li > label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: -7px;
  width: 14px;
  height: 14px;
  background: #fff;
  border: 1px solid #ffffff20;
  border-radius: 50%;
  transform: scale(0);
  transition: all 300ms ease-in-out;
}
.checkout__paymentMethodRadios
  > li
  > input[type="radio"]:checked
  ~ label::after {
  transform: scale(1);
}
.checkout__paymentMethod > button {
  width: 100%;
  display: block;
  color: #000;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  background: #fff;
  border: none;
  padding: 0.75rem;
  margin: 1rem 0px;
  transition: all 300ms ease-in-out;
}
.checkout__paymentMethod > button:hover {
  box-shadow: 0px 0px 10px 1px #2e358e20;
  transform: translateY(-5px);
}



.log-sign {
  background: #222;
  padding: 70px 50px;
}




/* STARS  */


.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
  }
  .rate:not(:checked) > input {
  position:absolute;
  /*top:-9999px;*/
  visibility: hidden;
  }
  .email-no-t {
  text-transform: lowercase;
  }
  .rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
  }
  .rate:not(:checked) > label:before {
  content: 'ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã¢â‚¬Â¹Ãƒâ€¦Ã¢â‚¬Å“ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¦ ';
  }
  .rate > input:checked ~ label {
  color: #ffc700;    
  }
  .rate:not(:checked) > label:hover,
  .rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
  }
  .rate > input:checked + label:hover,
  .rate > input:checked + label:hover ~ label,
  .rate > input:checked ~ label:hover,
  .rate > input:checked ~ label:hover ~ label,
  .rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
  }  
  .glyphicon-star {
  color:gold;
  }
  span.glyphicon-calendar {
  padding-left:20px;
  }


/* STARS  */






.cart__productQuantity input {background: transparent;width: 70px;text-align: center;height: 35px;}

.cart__productQuantity span{

  display:block;
  
}

/********** Categories Page ********/

.category-sec {
    padding: 50px 0px;
}

.category-img img {
    width: 100%;
    border-radius: 10px;
}


.pagetitle__img img {
    height: 430px;
    object-fit: cover;
}

.gallery-slider {
    margin: 30px 0 40px;
}

.gallery-slider .slick-slide img {
    border-radius: 15px;
}


.gallerycategory .slick-next {
    left: 0;
}

.gallerycategory .slick-prev, .slick-next {
    top: 45%;
    transform: translateY(50%);

}


.gallerycategory .slick-prev {
    right: 20px;
}

.photo-new-cate img:hover .category-btn {
    display: block !important;
    z-index: 999 !important;
}

.photo-new-cate:hover .themeBtn {
    display: block;
    cursor: pointer;
}

.photo-new-cate .themeBtn{
    display: none;
}

.photography-slider button {
    font-size: 31px;
}

.photography-slider button:before {
    content: none;
}

.photo-new-cate .slick-prev, .slick-next {
    background: #121212;
    border-radius: 0 !important;
}

.photo-new-cate img {
    height: 330px;
    object-fit: cover;
}

.FotomotoBar .FotomotoSeparator {
    display: none;
}

.FotomotoBar .FotomotoPrintButton .FotomotoBarLink {
    background-color: #fff;
    color: #000;
    font-weight: 400 !important;
    display: inline-block !important;
    padding: 15px 25px;
    border-radius: 25px;
    text-transform: uppercase;
}

.FotomotoBar {
    justify-content: center;
    display: flex;
    margin-top: 20px !important;
}

.gallery-slider {
    margin: 30px 0 40px;
}

.gallery-slider img {
    height: 300px;
    object-fit: cover;
    width: 100%;
}

.category-sec .category-img img {
    height: 300px;
    object-fit: cover;
    width: 100%;
}

.category-img a {
    width: 100%;
}
.gallery-slider .slick-prev {
    background: #000 !important;
    left: 0;
    right: auto;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    border-radius: 0;
    font-size: 25px;
}

.gallery-slider .slick-prev::before {
    content: '';
}

.gallery-slider .slick-next {
    background: #000 !important;
    right: 18px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    border-radius: 0;
    font-size: 25px;
}

.gallery-slider .slick-next::before {
    content: '';
}